<nav class="navbar is-primary">
  <div class="navbar-brand">
    <div class="navbar-burger burger" data-target="navMenuColorprimary-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">
          Docs
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/users">
            Users
          </a>
          <a class="navbar-item" href="/blog">
            Blog
          </a>
          <a class="navbar-item" href="/forum">
            Forum
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
            Elements
          </a>
        </div>
      </div>
      <a class="navbar-item" href="/dashboard">
        Dashboard
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-primary" href="https://github.com/jgthms/bulma/archive/0.5.1.zip">
              <span>Login</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>