/*general*/
.user-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;

	background-color: #c1c1c1;
} 
.user-image.sm {
	z-index: 2;
	height: 32px;
	width: 32px;
}
/* user search */
.user-search-form {
	padding-bottom: 20px;
}
.user-search-form .control.check-center {
	/*line-height: 36px;*/
	display: flex !important;
}
.user-search-form .control.check-center .checkbox {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.user-search-form .control .button.is-primary {
	margin-top: 30px;
}
.user-search-form .control.check-center .checkbox input {
	margin-right: 5px;
}
.user-table {
	width: 100%;
	overflow-x: auto;
}
.user-table .table {
	width: 100%;
}
.online-t, 
.online-f {
	z-index: 1;
	position: absolute;
	display: inline-block;
	height: 36px;
	width: 36px;
	border-radius: 50%;
	bottom: -2px;
	left: -2px;
}
.online-t {
	background-color: #23d160
}
.online-f {
	background-color: #ff3860;
}
.user-table .table th,
.user-table .table td {
	text-align: center;
	line-height: 32px;
}
.user-link {
	display: flex;
	align-items: center;
	position: relative;
}
.user-link .user-image.sm {
	/*margin-top: 4px;*/
	margin-right: 10px;
}

